terratowns_endpoint="https://terratowns.cloud/api"
SouthIndianmusic = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/SouthIndianmusic"
  content_version = 2
}
SouthIndianTemples = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/SouthIndianTemples"
  content_version = 2
}