user_uuid="e95290a5-0eba-482c-8fb9-8305f4e2ab9f"
bucket_name="crf5w8j3wufy7e0xzboo53wqggp8mnms"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"
assets_path="/workspace/terraform-beginner-bootcamp-2023/public/assets"
content_version=2